/* Estilo da Board (fundo) */
.board {
  position: relative;
  aspect-ratio: 16 / 9; /* ou a proporção real da imagem */
  margin: 0 auto;
  overflow: hidden;
}

.imagem-fundo {
  position: absolute; /* <- necessário para fixar como fundo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* mantém proporção sem cortar */
  z-index: 0; /* envia a imagem para trás */
  pointer-events: none; /* impede que a imagem bloqueie cliques */
}

.jogadores {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 250px;
  font-family: Arial, sans-serif;
}

.jogador {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  border-radius: 6px;
  background: #f5f5f5;
  transition: 0.3s;
}

.jogador.ativo {
  background: #ffe066; /* fundo diferente */
  border: 2px solid #ffcc00;
  font-weight: bold;
  transform: scale(1.05); /* cresce um pouco */
}

.conteiner-cartas-jogo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.carta-jogavel {
  width: 200px;
  min-height: 120px;
  background-color: #fff;
  border-radius: 16px;
  border: none;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  padding: 16px 12px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  margin: 12px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carta-jogavel h3 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #222;
}

.carta-jogavel p {
  font-size: 0.95rem;
  color: #e2d3d3;
  margin: 8px 0 0;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.city {
  width: 7rem;
  height: 7rem;

}

.peao {
  position: absolute;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  pointer-events: none;
  transition: 0.2s;
}

/* Distribui os peões em posições diferentes */
.city .peao:nth-child(1) { top: 25%; left: 25%; }
.city .peao:nth-child(2) { top: 25%; left: 75%; }
.city .peao:nth-child(3) { top: 75%; left: 25%; }
.city .peao:nth-child(4) { top: 75%; left: 75%; }
