<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monopoly - Jogo</title>
    <link rel="stylesheet" href="css/jogo.css" />
  </head>
  <body>
    <div id="appVue" v-cloak>
      <div>
        <button @click="jogarTurno(jogadores[0])">Rodar Dados</button>
      </div>
      <div class="board">
        <img src="assets/tabuleiro.jpg" class="imagem-fundo" />
        <div v-for="casa in casas" 
            :id="'casa-' + casa.id" 
            class="city" 
            :style="EstilizarObjetoPosicao(casa)" 
            @click="jogadorAtivoAcao(casa, 1)">
          
          <!-- Nome da casa -->
          {{ casa.nome }}

          <!-- Jogadores nesta casa -->
          <div v-for="jogador in casa.listaJogadores" :key="jogador.nome">
            <peao :cor="jogador.cor"></peao>
          </div>

          <!-- Construções nesta casa -->
          <div v-for="(c, index) in casa.listaCasas" :key="index">
            <pino-casa :cor="c.cor"></pino-casa>
          </div>
        </div>
    </div>

    <!-- Vue 2 -->
    <script src="assets/vue.js"></script>
    <script src="components/pino-casa.js"></script>
    <script src="components/peao.js"></script>

    <!-- App principal -->
    <script type="module" src="jogo.js"></script>
  </body>
</html>
